<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      
      <a title="Alma Cebrian, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" 
        href="https://commons.wikimedia.org/wiki/File:F_cursiva.gif">
        <img class="image-size" alt="F cursiva"
         src="{{imgUrl}}" />
      </a>      
      
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> 