/* You can add global styles to this file, and also import other style files */
h1 {
    color:#FFF;
}

.jumbotron {
    background-color: #00BED8;
    margin-bottom: 0;
}

.module {
    background-color: #e9ecef;
}

.row {
    margin-bottom: 30px;
}

.card {
    height: 25rem;
}

.image-size{
    height: 80%;
    width: 100%;
}

.description {
    margin-top: 15px; 
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    background-color: #f1f3f4;
}