<style></style>
<button
  (click)="isOpen = !isOpen"
  class="d-flex btn justify-content-between"
  style="width: 100%"
>
  <div class="p-3">
    {{ text }}
  </div>
  <div class="p-3">
    <img [ngClass]="isOpen ? 'icon-rotated' : 'icon-normal'"
      src="../../../assets/arrow_forward_ios_black_24dp.svg"
    />
  </div>
</button>
<div class="class-content container" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="row">
    <div class="col">
      <app-card class="p-6" [title]="'the best'"></app-card>
    </div>
    <div class="col">
      <app-card class="p-6" [imgUrl]="'https://upload.wikimedia.org/wikipedia/commons/b/b0/F_cursiva.gif'"
        [title]="'ggafk'"></app-card>
    </div>
  </div>
</div>
